#gameArea {
    position    :   absolute;
    left        :   50%;
    top         :   50%;
    border      :   1px solid;
    -webkit-perspective :   200px;
    -webkit-perspective-origin :   200px 100px;
    -webkit-animation : zoomIn 1s linear 1;
}

@-webkit-keyframes zoomIn {
    0% { -webkit-transform: scale(0.2) }
    0% { -webkit-transform: rotate3d(0, 1, 1, -180deg) }
    100% { -webkit-transform: scale(1.0) }
}

.gameScreen {
    background: rgb(228,245,252); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(228,245,252,1) 0%, rgba(153,209,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(228,245,252,1)), color-stop(100%,rgba(153,209,255,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(228,245,252,1) 0%,rgba(153,209,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(228,245,252,1) 0%,rgba(153,209,255,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(228,245,252,1) 0%,rgba(153,209,255,1) 100%); /* IE10+ */
    background: radial-gradient(center, ellipse cover,  rgba(228,245,252,1) 0%,rgba(153,209,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#99d1ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border:2px solid #aaaaff;
    position:absolute;
    width:100%;
    height:100%;
    -webkit-transform-origin :   200px 100px;
    -webkit-transform   :   rotateY(30deg);
}

.otherScreen {
    border:2px solid #aaaaff;
    position:absolute;
    width:100%;
    height:100%;
}
